First I imported any libraries and packages I might need

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

Then I imported the latitude and longitude values into a dataframe

In [10]:
df1 = pd.read_csv('https://cocl.us/Geospatial_data')
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

I then read in the dataframe from the previous exercise which I had saved to a csv file

In [13]:
df2 = pd.read_csv('df2.csv')
df2.head()

   Unnamed: 0 Postal Code           Borough     Neighbourhood
0           2         M3A        North York         Parkwoods
1           3         M4A        North York  Victoria Village
2           4         M5A  Downtown Toronto      Harbourfront
3           5         M6A        North York  Lawrence Heights
4           6         M6A        North York    Lawrence Manor

Finally, I merged the two dataframes to give a complete table of all the data from the Neighbourhoods

In [25]:
df_combine = pd.merge(df2, df1, on='Postal Code')
df_combine.head()

  Postal Code           Borough     Neighbourhood   Latitude  Longitude
0         M3A        North York         Parkwoods  43.753259 -79.329656
1         M4A        North York  Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3         M6A        North York  Lawrence Heights  43.718518 -79.464763
4         M6A        North York    Lawrence Manor  43.718518 -79.464763

The shape of the dataframe shows that the number of rows is the same as that from the previous exercise, so no new Postal Codes have been added, which is good

In [27]:
df_combine.shape

(210, 5)